<?xml version="1.0"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    verbose="true"
    >
  <filter>
    <whitelist>
      <directory suffix=".php">../lib/</directory>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="default">
      <directory>./lib/Elastica/</directory>
    </testsuite>
  </testsuites>
</phpunit>
