/.coveralls.yml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/CHANGELOG.md merge=union
/CONTRIBUTING.md export-ignore
/CLAUDE.md export-ignore
/GEMINI.md export-ignore
/UPGRADE-8.0.md export-ignore
/codecov.yml export-ignore
/docker export-ignore
/Makefile export-ignore
/phive.xml export-ignore
/phpdoc.dist.xml export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
