.DS_Store
.idea
*.iml
.php-cs-fixer.php
.php-cs-fixer.cache
.phpunit.result.cache

cache.properties
atlassian-ide-plugin.xml
.settings

/build
/nbproject
/tools
/vendor

composer.lock
composer.phar

.vscode/mcp.json
