<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['vendor', 'var'])
    ->in([__DIR__])
;

$config = PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'single_blank_line_before_namespace' => false,
        'ordered_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
        'phpdoc_order' => true,
        'ternary_to_null_coalescing' => true,
        'no_useless_else' => true,
        '@PHPUnit60Migration:risky' => true,
        'php_unit_dedicate_assert' => ['target' => 'newest'],
        'native_function_invocation' => true,
    ])
;

return $config;
