sudo: required
dist: trusty

group: edge


services:
  - docker

branches:
  only:
    - master

env:
  global:
    - DOCKER_VERSION=17.09.0
    - DOCKER_COMPOSE_VERSION=1.17.1
  matrix:
    - TARGET="70"
    - TARGET="71"
    - TARGET="72"
    - TARGET="73"
    - TARGET="Lint"

before_install:
  # check running "docker engine" and "docker-compose" version on travis
  - docker --version
  - docker-compose --version

  # list docker-engine versions, usefull to update the docker engine on travis and trusty
#  - sudo apt-cache madison docker-engine

  # update docker engine to the desired version
  - sudo apt-get -o Dpkg::Options::="--force-confnew" install -y docker-ce=${DOCKER_VERSION}~ce-0~ubuntu --allow-downgrades

  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

before_script:
  - sudo sysctl -w vm.max_map_count=262144

script:
  - if [ "$TARGET" != "Lint" ] ; then make tests TARGET=$TARGET ; fi
  - if [ "$TARGET" == "Lint" ] ; then make check-style ; fi

after_script:
  - cat /var/log/elasticsearch/*.log
  - cat /var/log/nginx/*.log
  - sudo rm composer.lock && sudo composer require satooshi/php-coveralls dev-master --no-ansi --no-progress --no-interaction

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - vendor/bin/coveralls -v
