sudo: required
dist: trusty

group: edge


services:
  - docker

branches:
  only:
    - master

env:
  - TARGET="56"
  - TARGET="70"
  - TARGET="71"

before_install:
  # list docker-engine versions, usefull to update the docker engine on travis and trusty
  #- apt-cache madison docker-engine

  # update docker engine to the desired version
  - sudo apt-get -o Dpkg::Options::="--force-confnew" install -y docker-ce=17.03.1~ce-0~ubuntu-trusty

  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/1.13.0/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

  # check running "docker engine" and "docker-compose" version on travis
  - docker --version
  - docker-compose --version

before_script:
  - sudo sysctl -w vm.max_map_count=262144

script:
  - make tests TARGET=$TARGET

after_script:
  - cat /var/log/elasticsearch/*.log
  - cat /var/log/nginx/*.log
  - sudo rm composer.lock && sudo composer require satooshi/php-coveralls dev-master --no-ansi --no-progress --no-interaction

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - vendor/bin/coveralls -v
