language: php

php:
  - 5.2
  - 5.3
  - 5.4

env:
  global:
    - ES_VER=0.20.1
    - ES_MAPPER_ATTACHMENTS_VER=1.6.0

before_script:
  - ./test/bin/install_php_memcache.sh
  - ./test/bin/run_elasticsearch.sh

script: phpunit -c test/
