includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - src/Transport/HttpAdapter.php
        - src/Query/Match.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # we don't have different constructors for parent/child
        - '~^Unsafe usage of new static\(\)\.$~'
