<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        bootstrap="tests/bootstrap.php"
        executionOrder="random"
        failOnWarning="true"
        failOnRisky="true"
        failOnIncomplete="true"
        cacheDirectory="./build/cache/phpunit"
>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="default">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
